*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #1e1c2a;
    max-width: 1200px;
    margin: 0 auto;
}
.btn{
    display: inline-block;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #ff702a;
    color: white;
    border-radius: 12px;
}
#burger-menu{
    display: none;
}

/* Header */

.header{
    display: flex;
    justify-content: space-between;
    padding: 35px 0;
    width: 85%;
    margin: 0 auto;
}

.logo{
    font-size: 28px;
    font-weight: 800;
    color: #ff702a;
}

.nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    margin: 10px;
    color: white;
}

/* Home */

.Home{
    display: flex;
    justify-content: space-between;
    margin: 35px 100px 80px 100px;
    align-items: center;
}

.home-img img{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: auto;
}

.home-img{
    margin-left: 50px;
    margin-right: 50px;
}

.home-text{
    margin-left: 50px;
}

.home-text h1{
    font-size: 50px;
    color: #ff702a;
    line-height: 60px;
}

.home-text p{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin: 20px 0;
    line-height: 26px;
}

/* About Us */

.About-Us{
    display: flex;
    justify-content: space-between;
    margin: 0 100px;
}

.about-img img{
    width: 100%;
    max-width: 400px;
    min-width: 200px;
    height: auto;
}

.about-text{
    padding: 15px 40px 15px 80px;
}

.about-text h5{
    color: #ff702a;
}

.about-text h1{
    color: white;
    font-weight: 800;
    line-height: 40px;
}

.about-text p{
    color: white;
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
    padding-right: 30px;
}

/* Menu */

.Menu{
    margin: 80px 0;
}

.Menu h5{
    text-align: center;
    color: #ff702a;
}

.Menu h1{
    color: white;
    text-align: center;
    margin-bottom: 50px;
    font-weight: 800;
}

.menu-container{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: 700;
}

.box img{
    width: 100%;
    height: auto;
    text-align: center;
    margin-bottom: 15px;
}

.box{
    background-color: whitesmoke;
    padding: 20px 30px;
    margin: 30px;
    border-radius: 14px;
    transition: 0.4s;
    cursor: pointer;
}
.box:hover {
    transform: translateY(-7px);
}

/* Service */
.service-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
    width: 90%;
    margin: 60px auto;
}

.Service h1{
    text-align: center;
    color: white;
    font-weight: 800;
}
.Service h5{
    text-align: center;
    color: #ff702a;
}

.service-box img{
    width: 90px;
    margin-bottom: 5px;
}

.service-box{
    padding: 20px 10px;
    margin: 0 20px;
}

.service-box p{
    font-size: 14px;
}

.service-box h3{
    margin-bottom: 5px;
}

/* Contact */

.contact-container{
    display: flex;
    justify-content: space-between;
    align-items: top;
    text-align: center;
    width: 80%;
    margin: 40px auto;
    color: white;
    background-color: rgb(51, 45, 109);
    padding: 20px 30px;
    border-radius: 12px;
}

.Contact h5{
    text-align: center;
    color: #ff702a;
}

.Contact h1{
    text-align: center;
    color: white;
    font-weight: 800;
}

.contact-box{
    margin: 0 20px;
}

.fa-solid{
    color: #ff702a;
    margin: 10px;
}

.contact-box h5{
    font-size: 16px;
}

/* Follow */

.Follow{
    text-align: center;
    color: white;
    margin: 80px auto;
    width: 50%;
}
.icons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    background-color: rgb(51, 45, 109);
    padding: 20px 30px;
    border-radius: 12px;
}

.fa-brands{
    color: #ff702a;
    margin: 0 20px;
    cursor: pointer;
}


/* Responsive */

@media (max-width: 1000px){
    .nav a{
        margin: 0 10px;
    }
    .home-text h1{
        font-size: 44px;
        line-height: 48px;
    }
    .about-text h1{
        font-size: 28px;
        line-height: 40px;
    }
    .about-text p{
        font-size: 15px;
        line-height: 20px;
    }
    .About-Us{
        align-items: center;
    }

    /* Menu */
    .box img{
        width: 150px;
    }
    .box {
        margin: 20px;
        flex-basis: 30%;
    }

    /* Service */
    .service-box{
        padding: 20px 0;
    }

    /* Contact */
    .contact-box{
        padding: 10px 20px;
    }
}

@media (max-width: 870px){
    .about-text p{
        padding: 0;
    }
    .about-text{
        padding-right: 0;
    }
    .contact-box p{
        font-size: 12px;
    }

    .nav{
        display: none;
    }
    #burger-menu{
        display: inline-block;
        margin-right: 40px ;
    }
    
    .Home{
        margin: 35px 80px 100px 80px;
    }
    .contact-box{
        padding: 0;
    }
}


@media (max-width: 870px){
    .btn{
        padding: 8px 16px;
    }
    .about-text h1{
        font-size: 26px;
        line-height: 36px;
    }
    .about-text p{
        font-size: 12px;
    }
    h5{
        font-size: 12px;
    }
}

@media (max-width: 810px){
    .menu-container{
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
    }
    .box{
        display: inline-block;
        padding: 30px 20px;
    }
    .Menu h1{
        margin-bottom: 30px;
    }
    .service-container{
        flex-direction: column;
        margin-top: 30px;
    }
    .service-box img{
        width: 80px;
    }
    .service-box p{
        font-size: 16px;
        padding: 0 50px;
    }
    .contact-container{
        padding: 20px 5px;
    }
}

@media (max-width: 720px){
    .Home, .About-Us, .contact-container{
        flex-direction: column;
        align-items: center;
    }
    .header{
        padding-top: 25px;
        padding-bottom: 15px;
    }
    .Home{
        margin: 40px 60px;
    }
    .home-text{
        text-align: center;
        margin: 0;
    }
    .home-img{
        margin-top: 20px;
    }
    .home-text p{
        margin: 15px 0;
    }

    .About-Us{
        flex-flow: column-reverse;
    }
    .about-text{
        padding: 0;
        text-align: center;
    }
    .about-img{
        padding: 50px;
    }
    .about-text p{
        font-size: 14px;
        margin: 15px 0;
    }

    .Menu{
        margin: 40px;
    }
    .Menu h1{
        margin-bottom: 15px;
    }
    .contact-container{
        width: 50%;
        align-items: center;
        padding: 10px 15px;
    }
    .contact-box{
        margin: 20px 0;
    }

    .icons{
        margin-top: 15px;
        padding: 15px 10px;
    }
}


@media (max-width: 630px){
    .about-text p{
        font-size: 12px;
        padding: 0 10px;
    }

    .menu-container{
        width: 70%;
    }

    .about-img{
        padding: 30px;
        margin-top: 10px;
    }

    .service-box p{
        font-size: 13px;
    }
    .Service h1{
        margin: 0 20px;
    }

    .Follow{
        width: 80%;
        padding: 0 20px;
    }
}

@media (max-width: 530px){
    .box img{
        width: 120px;
    }
    .menu-container{
        padding: 20px 20px;
    }
    .box{
        width: 90%;
    }
    .about-text h1{
        font-size: 30px;
        line-height: 36px;
    }
    .about-text p{
        padding: 10px 20px;
    }
}